* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dump {
  display: flex;
  gap: 2rem;
  margin: 3rem auto;
  width: 80%;
}
.box {
  width: 31%;
  margin: 1rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
}
.box img {
  width: 100%;
}
.box h3 {
  display: flex;
}
.box .content{
  display: none;
}
.box .content.visible {
  display: block;
}
