/* p{
    color: red;
}
.para{
    color: blue;
}
#p1{
    color: green;
} */


/* div p{
   color: red; 
} */

/* div section p{
    color: red;
}
p{
    color: blue;
} */



/* p{
    color: brown;
} */

/* LAST COMES FIRST */

.p1{
    color: red;
}
.p4{
    color: green !important;
}
.p2{
    color: yellow;
}
.p3{
    color: brown;
}
