/* box-shadow: horizonal_dist vertical_dist blur_dist spread_dist color */
/* text-shadow: horizonal_dist vertical_dist blur_dist  color */


#box{
    width: 50vw;
    border: 2px solid;
    box-shadow: 5px 10px 4px 0 rgba(0,0,0,1);
}

/* text-transform: lowercase | uppercase | capitalize */

h2{
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: -5px -8px 3px rgba(56, 55, 55, 0.5);
}