ul {
  /* list-style-type: none; */
  list-style: none;
}
ol {
  /* list-style-type: none; */
  list-style: none;
}

/* 16px = 1em = 1rem = 100% */

/* font-weight: normal | bold | 100-900 */

p {
  font-size: 16px;

  /* font-family: Times New Roman; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: Roboto, Arial, "Times New Roman";
  font-weight: 400;
  font-style: italic;
}
