* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  background-color: #fff;
}
header ul {
  display: flex;
}
header ul a {
  padding: 0 0.25rem;
  margin: 0 0.25rem;
}
#products {
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product {
  width: 22%;
  height: 400px;
  text-align: center;
}
.product img {
  width: 100%;
  height: 60%;
  margin-bottom: 1rem;
}
